{% extends "layout.html" %}

{% block body %}
<h1>Recipe and inventory database</h1>
  <p>
    This database application can be used to keep inventory of your current food ingredients 
    and also as a shared recipe book with ability to search and see what recipes are currently avaible for you.
  </p>
  <h2>Using the application</h2>
  <p>
    Start by creating an account and adding some ingredients from the common list or create your own. 
    Then you can start browsing avaible recipes and also create them.
    Recipes can also be browsed (and searched) without logging in. 
  </p>
{% endblock %}
