{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-md-9 overflow-auto">
        <h1>Ingredient listing</h1>
        <table class="table-responsive table-striped">
            <tr>
                <th>Ingredient</th>
                <th>Unit of measure</th>
                <th>Amount in stock</th>
                <th>New amount</th>
            </tr>
            {% for ing in ingredients %}
            <tr>
                <td class="text-wrap" style="word-wrap: break-word; max-width: 240px">{{ ing.name }}</td>
                <td class="text-wrap" style="word-wrap: break-word; max-width: 160px">{{ ing.measurement_unit}}</td>
                <td>{{ ing.amount }}</td>
                <form method="POST" action="{{ url_for('ingredient_update', id=ing.id, type='edit' )}}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <td>{{ edit_form.amount }}</td>
                    <td><input type="submit" value="Edit" class="btn btn-primary" /></td>
                </form>
                <td>
                    <form method="POST" action="{{ url_for('ingredient_update', id=ing.id, type='delete' )}}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <h2>Add new ingredient</h2>
            <form method="POST" action="{{ url_for('ingredient_form') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="form-group">
                    {{ new_form.name.label }}
                    {{ new_form.name(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ new_form.measurement_unit.label }}
                    {{ new_form.measurement_unit(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ new_form.amount.label }}
                    {{ new_form.amount(class_="form-control") }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add new ingredient</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}