{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class=row>
        <div class="col-sm">
            <h2>Recipe name</h2>
        </div>
        <div class="col-sm">
            <h2>Instructions</h2>
        </div>
    </div>
    {% for rcp in recipe %}
    <div class="row">
        <div class="col-sm">
            <p>{{ rcp.name }}</p>
        </div>
        <div class="col-sm">
            <p>{{ rcp.instructions }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}