{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('auth_new') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class_="form-control") }}
        <span id="helpBlock" class="help-block">Minimum length 2 characters </span>
    </div>

    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_="form-control") }}
        <span id="helpBlock" class="help-block">Minimum length 6 characters</span>
    </div>

    <div class="form-group">
        {{ form.passwordRepeat.label }}
        {{ form.passwordRepeat(class_="form-control") }}
    </div>

    <input type="submit" value="Create new account" class="btn btn-primary" />
</form>
{% if form.errors %}
<ul class="list-group">
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
    {% for error in field_errors %}
    <li class="list-group-item list-group-item-danger">{{ error }}</li>
    {% endfor %}
    {% endfor %}
</ul>
{% endif %}


{% endblock %}